:root{
    --color:rgb(233, 233, 233);
    --link-color:rgb(45, 1, 168);
    --bg-color:black;
}

body{
    color: var(--color);
    background-color: var(--bg-color);
    font-family:'Times New Roman', Times, serif
}

img {
    margin-top: 100px;
}

p {
    font-size: large;
}